@model IEnumerable<Expense_Tracker_App.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}


<div class="row">
    <div class="col-md-8">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pagesize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headertext="Categoty" field="CategoryTitleAndIcon"></e-grid-column>
                <e-grid-column headertext="Description" field="Description"></e-grid-column>
                <e-grid-column headertext="Amount" field="AmountFormat" textalign="Right"></e-grid-column>
                <e-grid-column headertext="Date" field="TransactionDate" format="MMM-dd-yy" textalign="Left"></e-grid-column>
                <e-grid-column headertext="Actions" template="#actionsCol" width="150px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:darkslategrey">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>


<script id="actionsCol" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Are you sure?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
